body {
  background: #3A3A3A;
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
}

.top-bar
{
	background: #3A3A3A;
}

#google-map *, #google-map *:before, #google-map *:after {
         
    }
    #google-map img {
        max-width: none;
    }
    #google-map label {
        width: auto;
        
    }

    #fblike iframe {
    width: auto !important;
}

/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.zinfowindow{
	color:black;
	width:auto;
	height:20px;
}

.center {
   display: inline-block;
 }

.row_full{
  .row;
  max-width:none;
  margin-left:0px;
  margin-right:0px;
}

h4 a {
  color:white;
}
a:hover, a:focus {
  color:white;
  }
