body {
  background: #3A3A3A;
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
}

.top-bar
{
	background: #3A3A3A;
}

#google-map *, #google-map *:before, #google-map *:after {
         
    }
    #google-map img {
        max-width: none;
    }
    #google-map label {
        width: auto;
        
    }

.zinfowindow{
	color:black;
	width:auto;
	height:20px;
}